.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.base-cnt {
    background-color: #2F4F4F;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}